body {
    background-color:whitesmoke ;
    color:white;

    display: flex;
    font-weight: 100px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    background-color: rgb(40, 84, 114);
    opacity: 40px;
    
    padding: 10px 20px;
    color: white;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    /* width: 300px; */
    height: 300px;
    object-fit: top;
    object-position: right;
    border-width: 2px;
    border-style: solid;
    border-color: black;

}
.Mixes{
    background-color: coral;
    color: white;
    border-radius: 20px;
    border: moccasin;
    cursor: pointer;
    margin-top: 39px;
    margin: 34px;
    height: 50px;
    border-style: solid;
    width: 80px;


}
.pre-order{
    background-color: rgb(151, 209, 16);
    color: white;
    border-radius: 20px;
    border: rgb(242, 192, 255);
    cursor: pointer;
    margin-top: 39px;
    margin: 34px;
    height: 50px;
    border-style: solid;
    width: 80px;



}


.Latest-Tracks{
    background-color: rgb(33, 99, 187);
    color: white;
    border-radius: 20px;
    border: rgb(84, 255, 190);
    cursor: pointer;
    margin-top: 39px;
    margin: 34px;
    height: 50px;
    border-style: solid;
    width: 80px;
}

.Mixes:hover{
    opacity: s;
    background-color:  rgb(116, 176, 233);
}

.Latest-Tracks:hover{
    /* color: black; */
    background-color:  rgb(116, 176, 233);
}

.pre-order:hover{
    background-color:  rgb(116, 176, 233);
}
.Search-bar{
    font-size: 20px;
    margin-left: 12px;
    width: 200px;

}

#Search-box{
border-style: none;
outline: none;
padding: 6px;
width: 200px;
}

.s-btn{


padding: 6px;
flex: 1;
margin-left: 70px;
margin-right: 70px;
display: flex;
align-items: center;
justify-content: center;
border: none;
border-radius: none;
border-style: none;
outline: none;
font-family: 'Times New Roman', Times, serif;
}

/* .s-btn:hover{
    cursor: help;
    opacity: 0.9;
    box-shadow: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.9);
} */

.Search-btn{
    border-style: none;
    padding: 6px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
        
}
