.profile-picture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    



}
body {
    background-color: black;
     background-image: url(./images/20230415_152002.jpg);
    background-size: 99%;    
    border-radius: 40px;

    
}   
    
.ST{
    list-style: none;
    display: block;
    


}
.container{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space;

}
.ST0{
    margin-bottom: 50px;
    list-style: none;
    list-style: none;
    background-color: rgb(13, 79, 122);
    color: white;
    padding: 10px 15px;
    font-weight: initial;
    font-family: 'Courier New', Courier, monospace;
    transition: 1s;
    cursor:pointer; 
    border: none;
    border-radius: 40px;
    margin-right: 10px;
    
}
.ST1{
    margin-bottom: 50px;
    list-style: none;
    list-style: none;
    background-color: rgb(24, 209, 178);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    transition:0.5s;
    cursor:pointer; 
    border: none;
    border-radius: 40px;
    margin-right: 10px;
}   
.ST2{
    /* margin-bottom: 50px; */
    list-style: none;
    list-style: none;
    /* background-color: rgb(221, 15, 15); */
    color: rgb(195, 207, 26);
    padding: 10px 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    transition:0.5s;
    cursor:pointer; 
    border: none;
    border-radius: 40px;
    /* margin-right: 10px; */
    
}
.ST3{
    margin-bottom: 50px;
    list-style: none;
    background-color: rgb(95, 44, 7);
    color: rgb(54, 168, 44);
    padding: 10px 15px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    transition:0.5s;
    cursor:pointer;
    border: none;
    border-radius: 40px;
    margin-right: 10px;
    
   
   
}
.ST4 {
    margin-bottom: 50px;
    list-style: none;
    background-color: rgb(192, 145, 16);
    color: rgb(109, 3, 3);
    padding: 10px 15px;
    font-weight: bolder;
    font-style: italic;
    transition:0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    cursor: pointer; 
    border: none;
    border-radius: 40px;
    margin-right: 10px;
}
.ST5 a{
    text-decoration: none;
    /* margin-bottom: 50px; */
    list-style: none;
    list-style: none;
    /* background-color: rgb(4, 187, 80); */
    color: rgb(18, 125, 212);
    padding: 10px 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    transition:0.5s;
    cursor:pointer; 
    border: none;
    border-radius: 40px;
    border-color: chocolate;
    /* margin-right: 10px; */
    opacity: 40px;

  
}

.ST0:hover{
    background-color: crimson;
    
}
.ST1:hover{
    background-color: rgb(245, 115, 10);
    
}
.ST2:hover{
    background-color: rgb(10, 143, 121);
    
}
.ST3:hover{
    background-color: rgb(10, 45, 141);
    
}
.ST4:hover{
    background-color: rgb(36, 88, 109);
    
}

.ST5:hover{
    background-color: rgb(194, 101, 14);
    opacity: 20px;
    
}


h1{
    color: rgb(95, 173, 5);
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    cursor:pointer; 

}
.list-container {
    vertical-align: top;

}
.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    
}
.SB-container{
    display:  flex;
    justify-content: baseline;
    flex-direction: row;
    justify-self: end;
    cursor: context-menu;
    padding:  10px;

}
.DJ1 {
    border-radius: 40px;
    text-decoration: double;
}
ul a {
    text-decoration: none;
    list-style: none;
}
.nav-container{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: whitesmoke;
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 18px;
z-index: 1;
}
.left{
display: flex;
width: 200px;
align-items: center;

font-family: 'Times New Roman', Times, serif;
}
.middle{
/* background-color: red; */
padding: 9px;
flex: 1;
margin-left: 70px;
margin-right: 70px;
display: flex;
align-items: center;
justify-content: center;
}
.right{
/* background-color: rgb(76, 160, 8); */
width: 200px;
display: flex;
align-items:center ;
}
    
#Search-box{
 border-style: none;
 outline: none;
padding: 6px;
width: 200px;
}
.Search-btn{
   border-style: none;
   padding: 6px;
   outline: none;
   font-family: 'Times New Roman', Times, serif;
   cursor: pointer;
   
    
}
.Search-btn::placeholder{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
}
h1{
    width: 100px;
    white-space: nowrap;
}
